.theory-page {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 48px;
  .chapter {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    &-item {
      padding: 12px 20px;
      background: red;
      border-radius: 50px;
      cursor: pointer;
    }
  }
  .content-left {
    width: 40%;
    .title {
      position: relative;
      text-align: center;
      margin-bottom: 16px;
      padding-bottom: 16px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 4px;
        background-color: red;
      }
    }
    .question-list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      max-height: 500px;
      overflow: auto;
      margin-top: 24px;
      &-item {
        padding: 4px;
        min-width: 36px;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        text-align: center;
        background: #eeeeee;
        transition: all 0.15s ease-in-out;
        &.active,
        &.correct,
        &.incorrect {
          font-weight: bold;
        }
        &.active {
          background-color: #a72e28;
          color: white;
        }
        &.correct {
          color: #008216;
          border-color: #008216;
          background: #f1fff3;
        }
        &.incorrect {
          color: #c00;
          border-color: #c00;
          background: #fff7f7;
        }
        &.normal:hover {
          background-color: #eebbb8;
        }
      }
    }
  }
  .content-right {
    flex: 1;
    .question {
      display: flex;
      flex-direction: column;
      gap: 24px;
      &-title {
        font-size: 20px;
        font-weight: bold;
        color: #216cb7fa;
      }
      &-image {
        max-width: 100%;
      }
      &-answer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &-item {
          position: relative;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transform: scale(1);
          transition: transform 0.15s ease-in-out;
          padding: 8px 20px;
          &:hover {
            transform: scale(1.02);
          }
          &.correct,
          &.incorrect {
            font-weight: bold;
          }
          &.correct {
            color: #008216;
            border-color: #008216;
            background: #f1fff3;
          }
          &.incorrect {
            color: #c00;
            border-color: #c00;
            background: #fff7f7;
          }
        }
      }
    }
    .explanation {
      margin-top: 24px;
    }
    .action {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
      button:disabled {
        visibility: hidden;
      }
    }
  }
}
