header {
  background: #a72e28;
}

.header-content {
  display: flex;
  gap: 20px;
}

.header-content-item {
  padding: 16px 20px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.header-content-item::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: blue;
  left: -100%;
  bottom: 0;
  transition: left 0.15s ease-in-out;
}

.header-content-item:hover::after {
  left: 0;
}
